*{ 
    margin:0px;
    padding:0px; 
    font-family: cursive;
} 
.dojo { 
    background-color:rgb(193,193,193) ;  
    margin: 0 auto;
    width: 675px;  
    padding: 10px;
    display:flex ; 
    justify-content: space-around;  
    align-items: center;  
    gap:10px;
}   
.dojo h3{
    font-size: 40px; 
    font-family:  serif; 
    
}

.row{
   
    margin: 0 auto; width:1000px; 
    
} 
.dojo button{
    background-color:rgb(43,120,228); 
    color: white; 
    width: 50px;  
    /* height: 50px; */
    box-shadow: 2px 5px 0px black ; 
    margin-right: 50px;
}
/************************ main ************************************/ 
.main{
    display: flex; 
    justify-content: center;  
    flex-direction: row; 
    padding: 20px;
    
}

/********box /ninja*******************************/
.ninja
{
    
    border: solid black; 
    display: flex;
    align-items: center;  
    /* padding-left: 30px;  */
    height: 150px;

}    
.box{
    
    gap: 10px;
    display: flex; 
    flex-direction:column;  

   
}  
.ninja .par1 h3 {
    font-size: 30px;  
    padding:auto;  

}  
.ninja button{ 
  
    background-color:rgb(255,217,102); 
    color: rgb(10, 10, 10); 
    width: 100px;  
    height: 30px; 
    box-shadow: 2px 5px 0px black ;  
    margin: 10px;
    font-size: 15px; 
    font-family: initial; 
    font-weight:bold;
}   

.ninja .par1{
    text-align: center; 
    
} 

/********************dojonary****************************/
.dojonary{ 
    border:  solid rgb(9, 9, 10);  
    margin-left: 10px;  
    width: 220px; 
    height: 150px; 
    
}  
.dojonary h3{
    margin-left: 10px; 
    margin-top: 10px;
}
 
.dojonary span { 
    font-weight:bold; 
    font-size: 24px; 
} 
.dojonary button{ 
    padding: 5px; 
    background-color: rgb(147,196,125); 
    border: solid black; 
    box-shadow: 5px 5px 0px black; 
    height: 40px;  
    width: 200px;
    font-weight: bold; 
    margin: 5px;
    font-size: 15px;
} 
