.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto; 
    display: block;   
    padding: 20px;
   
}
.top-nav {
    height: 150px;  
    width:100%;
    background-color: green;  

}
.side-nav {
    height: 200px;
    width: 200px;
    background-color: blue; 
    margin-top: 1em;
}
.main,.side-nav
{
    display:inline-block;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red; 
     vertical-align: top;  
     padding:10px;

     margin-top: 1em;

     
   


}

.sub-content 
{
    
    height: 200px; 
    background-color: yellow; 
    display: inline-block;
    width: 200px; 
    margin-bottom: 10px;
    margin-right: 10px; 
}


#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
} 



